    <div class="recent-posts">
        <div class="bg-light border-right sidebar" id="sidebar-wrapper">
          <div class="sidebar-heading">Recent posts</div>
          <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light"
              >Post #1</a
            >
            <a href="#" class="list-group-item list-group-item-action bg-light"
              >Post #2</a
            >
            <a href="#" class="list-group-item list-group-item-action bg-light"
              >Post #3</a
            >
            <a href="#" class="list-group-item list-group-item-action bg-light"
              >Post #4</a
            >
          </div>
        </div>
      </div>