
.sidebar-heading {
    padding: 5% 0% 5% 5%;
    text-align: left;
    font-style: normal;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .sidebar {
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
    box-shadow: 2px 0 8px grey;
  }
  
  .list-group-item {
    background-color: #f6f6f6;
    text-align: left;
    padding: 5% 0% 5% 5%;
  }
  
  .bg-light.list-group-item:hover {
    background-color: #ececec;
  }